/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter Variable", sans-serif;
  --acent-font: "Press Start", sans-serif;
  --main-title-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --main-title-mobile-size: clamp(2.5625rem, -0.3466rem + 14.5455vw, 3.0625rem);
  --title-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --title-mobile-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --font-stngs: 'wght' 400;
  --title-font-stngs: 'wght' 700;
  --background-gradient: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
  repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
  linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --main-color: #fff;
  --acent-color: #000;
  --hover-text-color: #fff;
  --contour-color: #000;
  --main-color: none;
  --sparks-color: red;
  --active-color: red;
  --img-filter: invert(0);
}